.header{
  display: flex;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  z-index: 5;
  top: 0;
  left: 0;

}
.logo {
  color: mediumaquamarine;
  flex-grow: 1;
  display: flex;
  padding: 10px;
  padding-left: 30px;
}
.logo h3 {
  padding-left: 15px;
}
nav {
  display: inline-block;
  justify-content: space-around;
  width: 300px;
  align-content: flex-end;
  padding: 20px;
  position: static;
  margin: 0px auto;
}
nav a{
  padding: 10px;
  color: black;
}
.main.container{
  display: flex;
  position: relative;
  top: 80px;
  justify-content: center;
  height: auto;
}
.column{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
.large{
  width: 640px;
}
.column.medium{
  width: 300px;
}
.column.small{
  width: 240px;
}
.upper{
  display: flex;
  flex-direction: column;
}
.lower{
  justify-content: space-between;
  margin-bottom: 200px;
}
.middle, .bottom{
  justify-content: space-between;
  flex-direction: column;
  display: inline-flex;
}
.middle{
  margin-right: 31px;
}
.mother{
  background-image: url("../images/img-story-main.png");
  display: flex;
  height: 300px;
}

.orca, .earth, .burger, .research {
  width: 300px;
}

.earth{
  border: 1px solid black;
  background-image: url("../images/img-story-2.png");
  display: flex;
  height: 280px;
}

.research{
  background-image: url("../images/img-research-3.png");
  display: flex;
  height: 280px;
}

.cats{
  border: 1px solid black;
  background-image: url("../images/img-cat-1.png");
  display: flex;
  height: 260px
}
.cats p, .research p, .earth p, .mother p{
  font-family: georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.mother p{
  font-size: 40px;
}
body{
  font-family: georgia;
  font-size: 17px;
  color: black;
}
h4{
  font-size: 16px;
  font-weight: bold;
  text-align: center;

}
.bites p{
  background-color: whitesmoke;
  font-family: verdana;
  font-size: 12px;
  color: dimgray;
  border-bottom: 1px solid black;
  height: 40px;
  align-content: center;
  padding-left: 10px;
  padding-top: 18px;
  display: flex;
  margin: 0;
}
.footer{
  background-color: mediumaquamarine;
  margin: auto;
  font-family: verdana;
  font-size: 12px;
  display: flex;
  position: relative;
  height: 300px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title{
  font-family: georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  align-items: center;
  display: inline-block;
  width: 150px;
  border-right: 2px solid white;
}
.nav2{
  display: inline-block;
}
.contact{
  margin: auto;
  display: block;
  position: relative;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 0px;
}
.copyright{
  display: block;
}
