.header{
  display: flex;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  z-index: 5;
  top: 0;
  left: 0;

}
.logo {
  color: mediumaquamarine;
  flex-grow: 1;
  display: flex;
  padding: 10px;
  padding-left: 30px;
}
.logo h3 {
  padding-left: 15px;
}
nav {
  display: inline-block;
  justify-content: space-around;
  width: 300px;
  align-content: flex-end;
  padding: 20px;
  position: static;
  margin: 0px auto;
}
nav a{
  padding: 10px;
  color: black;
}
.main.container{
  border: 1px solid black;
  display: flex;
  position: relative;
  top: 80px;
  justify-content: center;
}
.column{
  display: flex;
  border: 2px solid black;
  flex-direction: column;
  margin-left: 40px;
}
.large{
  width: 640px;
}
.column.medium{
  width: 300px;
}
.column.small{
  width: 240px;
}
.top, .middle, .bottom{
  display: flex;
}
.middle, .bottom{
  justify-content: space-between;
}
.mother{
  border: 1px solid black;
  background-image: url("../images/img-story-main.png");
  display: flex;
  height: 300px;
}

.monument{
  border: 1px solid black;
}
.orca, .earth, .burger, .research {
  width: 300px;
}
.orca{
  border: 1px solid black;

}
.earth{
  border: 1px solid black;
  background-image: url("../images/img-story-2.png");
  display: flex;
  height: 280px;
}

.burger{
  border: 1px solid black;
}
.research{
  border: 1px solid black;
  background-image: url("../images/img-research-3.png");
  display: flex;
  height: 280px;
}

.fbi{
  border: 1px solid black;
}
.cats{
  border: 1px solid black;
  background-image: url("../images/img-cat-1.png");
  display: flex;
  height: 260px
}
.brooklyn{
  border: 1px solid black;
}
.bites{
  border: 1px solid black;
}
.cats p, .research p, .earth p, .mother p{
  font-family: georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.mother p{
  font-size: 40px;
}
body{
  font-family: georgia;
  font-size: 17px;
  color: black;
}
